/* *** */

$matchstick-length: 100px;
$matchstick-width: 15px;
                        
* {
  box-sizing: border-box;
}

html, body {
    margin: 1em;
    font-family: "Helvetica";
}

div#solver-config {
    border: 1px solid #a0a0a0;
    padding: 1em;
    margin: 1em;
    background: #e0ffe0;
}

table.playfield {
    td.h-matchstick {
        width: $matchstick-length;
        height: $matchstick-width;
        border: 1px solid red;
    }

    td.v-matchstick {
        width: $matchstick-width;        
        height: $matchstick-length;
        border: 1px solid red;
    }

    td.placed {
        background: red;
    }
}
