/* *** */

$matchstick-length: 80px;
$matchstick-width: 15px;
                        
* {
  box-sizing: border-box;
}

html, body {
    margin: 0.5em;
    font-family: "Helvetica";
}

div.solver-controls {
    border: 1px solid #a0a0a0;
    padding: 0.5em;
    margin-bottom: 0.5em;
    background: #e0ffe0;

    input {
        width: 3em;
    }
    
    button {
        width: 6em;
    }
}

div.square-list {
    float: left;
    padding-left: 1em;

    td, th {
        width: 3em;
        text-align: center;
    }
    
    th {
        font-weight: bold;
    }

    div.list-title {
        font-weight: bold;        
        text-align: center;
        padding: 0.5em;
    }
}

div#selector {
    float: left;
}

div#playfield {
    float: left;

    table.playfield {
        td.h-matchstick {
            width: $matchstick-length;
            height: $matchstick-width;
            border: 1px solid red;
        }

        td.v-matchstick {
            width: $matchstick-width;        
            height: $matchstick-length;
            border: 1px solid red;
        }

        td.placed {
            background: red;
        }
    }
}

div.board-selector {
    margin-right: 1em;
    
    div.board-name {
        border: 1px solid #ccc;
        background: #eee;
        padding: 0.33em;
        margin-bottom: 0.33em;
        cursor: hand;
        
        &:hover {
            background: #ddd;
        }
    }
}