<html>
  <meta name="viewport" content="width=device-width, user-scalable=no" />
  <head>
    <title>GL Canvas</title>
  </head>
  <body>
    <div id='root'></div>
    
    <script src="/socket.io/socket.io.js"></script>
    <script src="/static/bundle.js"></script>
  </body>
</html>
